@import url("styles/header.css");
:root{
    --amarelo: #1a1919d2; --fundo-azul: #511794e4;
    --lilas: #a510a5; --fonte-projeto: "Dosis"
}

body{
background-color: var(--amarelo);
margin: 0; font-family: var(--fonte-projeto);
}